<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS: WebDAV blocks PUT / PATCH / DELETE by default.
  This config removes WebDAV and forces all verbs to AspNetCoreModuleV2.
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <remove name="aspNetCore" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <security>
        <requestFiltering>
          <verbs allowUnlisted="true" />
        </requestFiltering>
      </security>
      <aspNetCore processPath="dotnet"
                  arguments=".\WebApi.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
